/*
Name: Harshan Jayakumar
File: style.css
Date: 19 October 2025
This CSS file styles the St Huxley's Community College homepage, 
including fonts, layout, text styling, links, lists, and navigation menu.
INFT1206 – Web Development Fundamentals
*/
